    <div class="loginWrapper">
        <form name="Login_Form" class="form-signin" ng-submit="login()">
            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
            <hr class="colorgraph"><br>

            <input type="text" ng-model="email" class="form-control" name="Email" placeholder="Email" required="" autofocus="" />
            <input type="password" ng-model="password" class="form-control" name="Password" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block" type="Submit">Login</button>
            <div class="loginRegistration">
                New to site? <span class="link" ng-click="changeView('register/')">Click here to register!</span>
            </div>
        </form>

</div>
