html, body {
    height: 100%;
}

.cardDiv {
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    display: inline-block;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    height: 420px;
    width: 300px;
    border: black solid 1px;
    white-space: pre-wrap;
}

#cartCenterBox {
    border: black solid 1px;
    width : 900px;
    height : auto;
    padding: 10px;
    margin: 2% auto;
}

#viewCart {
    color: blue;
    font-size: large;
    font-weight: 600;
}

.link {
    color: #0645AD;
}

#signInOut {
    color: blue;
    font-size: large;
    font-weight: 600;
}

.cartTable {
    width: 80%;
    align-content: center;
    margin: auto;
    margin-top: 30px;
}

#cartButtons {
   margin-top: 30px;
   text-align:center;
}

#checkoutItemBox {
    vertical-align: top;
    border: black solid 1px;
    width: 60%;
    display: inline-block;
    margin-left:5%;
    padding: 10px;

}

#checkoutTotalBox {
    vertical-align: top;
    border: black solid 1px;
    width: 30%;
    display: inline-block;
    padding: 10px;

}

#checkoutBox {
    padding: 15px;
    border: black solid 1px;
}

/*Login*/


.loginWrapper{
    margin-top: 6%;
    margin-bottom: 20px;
}

.pointCursor {
    cursor: pointer;
}

#logout {
    cursor: pointer;
    color: #000080;
    font-size: large;
    font-weight: 600;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 26px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.registerForm {
    margin: 4% auto;
    padding: 30px;
    width: 500px;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.loginRegistration{
    padding-top:15px;
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/* Side bar*/
#itemSelection {
    width: 120px;
    display: block;
    -webkit-align-content: center;
    align-content: center;
    margin-top: 6%;
}

#rightOfItems {
    display: inline-block;
    margin-top: 5%;
    margin-left: 50%;
    vertical-align: top;
}

#welcomeName {
}

#imageCarousel {
    padding: 5px;
    text-align: center;
    border: solid black 1px;
}



.sidebarservices {
    position: absolute;
    width: 25%;
    float: left;
    font-size: 16pt;

}

.sidebarservices .head {
    font-size: 16pt;
    background: gray;
    color: white;
}

.head:hover {
    background: #484848 !important;
}

#itemSelection li {
    width: 70%;
    height: 60px;
    border: solid black 1px;
    display: list-item;
}

.sidebarservices li {
    list-style: none;
    background-color: #0e6eb7;
    margin: 5px 10px;
    text-align: left;
    padding: 10px 0 10px 20px;
    border-radius: 5px 5px;
    cursor: pointer;
    color: white !important;
}

.sidebarservices li a {
    text-decoration: none;
    font-family: Century Gothic, sans-serif;
}

.sidebarservices li:hover {
    background: #07395f;
    color: black;
}