#itemSelector {
    width: 120px;
    border: 1px solid #c3c3c3;
    display: inline-block;
    -webkit-align-content: center;
    align-content: center;
}

#centerStage {
    margin-top: 20px;
    margin-left: 30px;
}

#itemSelector div {
    padding-top: 25px;
    width: 120px;
    height: 80px;
    border: solid black 1px;
    display: inline-block;
}



#welcomeName {
    width:20%;
    display: inline-block;
    vertical-align: top; /* here */
    height: 10px
}

#imageCarousel {

    width: 50%;
    height: 50%;
    border: solid black 1px;
}