<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Express Buy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

    <script src="inventory.js"></script>
    <script src="Scripts/angular.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="index.js"></script>
    <script src="app/addItem/addItemController.js"></script>
    <script src="app/cart/viewCartController.js"></script>
    <script src="app/checkout/checkoutController.js"></script>
    <script src="app/search/searchController.js"></script>
    <script src="app/login/loginController.js"></script>
    <script src="app/register/registerController.js"></script>
    <script src="app/registered/registeredController.js"></script>
    <script src="app/purchasedPage/purchasedController.js"></script>
    <script src="app/fauxLogin.js"></script>

</head>

<!--This is the navbar-->
<body ng-app="indexApp">
    <nav class="navbar navbar-light bg-light" ng-controller="indexController">
        <form class="form-inline">
            <img ng-click="changeView('/')" style="margin-right:10px;" src="imgs/home.png" height="30" width="30">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ng-model="searchBarText">
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click="changeView('search/'+searchBarText)">Search</button>
        </form>


        <div class="pull-right">
            <span id="signInOut" ng-click="changeView('login/')"> {{ menuBarLogInTitle }}</span>
            <span id="logout" ng-show="showLogout" ng-click="logout()">(logout)</span>
            <span>&nbsp &nbsp &nbsp &nbsp</span>
            <span id="viewCart" ng-click="changeView('cart/')">View Cart</span>
        </div>
    </nav>
    <div>
        <!-- Where content will be injected-->
        <div ng-view class="container"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
