<div>
    <div id="cartCenterBox">
        <h1 style="text-align:center" >Viewing Shopping Cart</h1>
        <table class="table table-bordered cartTable">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Remove</th>

                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in cartItems track by $index">
                    <td style="width:80%"> {{ item.name }} </td>
                    <td> {{ item.price }} </td>
                    <td class="pointCursor" style="text-align: center" ng-click="removeFromCart(item.id); reloadRoute()" > X </td>
                </tr>

            </tbody>
        </table>
        <div id="cartButtons">
            <button ng-click="changeView('/')" style="width:40%" type="button" class="btn btn-info">Continue Shopping</button>
            <button data-ng-disabled="isEmpty()" ng-click="changeView('/checkout')" style="width:40%"type="button" class="btn btn-warning">Checkout</buttondata-ng-disabled="checkQuestions()">
        </div>
    </div>
</div>
