<div>
    <div id="checkoutBox">
        <h1 style="text-align:center">Checkout</h1>
        <div id="checkoutItemBox">
            <h3 style="text-align:center">Order</h3>
            <table class="table table-bordered cartTable">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in cartItems track by $index">
                        <td style="width:80%"> {{ item.name }} </td>
                        <td> {{ item.price }} </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div id="checkoutTotalBox">
            <h3 style="text-align:center">Item total</h3>
            <table class="table table-bordered cartTable">
   

                <tbody>
                    <tr>
                        <td>Cost</td>
                        <td> ${{ cartT }} </td>
                    </tr>

                    <tr>
                        <td>Tax</td>
                        <td> ${{ cartTax }} </td>
                    </tr>

                    <tr>
                        <td>Total cost</td>
                        <td> ${{ cartTotalWithTax }} </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="cartButtons">
            <button ng-click="changeView('cart/')" style="width:15%; margin-right:5%; margin-left: -10%" type="button" class="btn btn-primary">Back to Cart</button>
            <button ng-click="changeView('/purchased'); clearCart()" style="width:40%" type="button" class="btn btn-warning">Place order</button>
        </div>
    </div>

</div>